<div id="social_widget">
    <a id="sw_fb"><div class="sw-social sw-fb"></div></a>
    <a id="sw_twitter"><div class="sw-social sw-twitter"></div></a>
    <a id="sw_gplus"><div class="sw-social sw-gplus"></div></a>
    <a id="sw_pinterest"><div class="sw-social sw-pinterest"></div></a>
</div>